<div class='timeline-container'>

	{{ log( 'this', timelineData ) }}

	<div class='timeline-content'>

		{{#each timelineData.sheets.content }}
		<div class='event'>	
			<div class='date'>{{#if year}}<span class='year'>{{ year }}</span> <br>{{/if}} {{ day }} {{ month }}</div>
			<div class="content">
				{{#if eventheadline }}
					<div class='headline'>{{ eventheadline }}</div>
				{{/if}}

				{{#if photourl }}
				<div class='photo'>
					<img src='{{ photourl }}'>

					<div class='photo-caption'>{{ caption }} <span class='photo-credit'>Photograph: {{ credit }}</span></div>
				</div>
				{{/if}}

				{{#if description }}
					<div class='description'>{{{ description }}}</div>
				{{/if}}

			</div>
		</div>
		{{/each}}

	</div>

</div> <!-- end timeline container -->



<style>

.gia {
	font-family: 'Guardian Text Egyptian Web';
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	padding: 10px;
	color: #333;
	height: auto;
	overflow: hidden;
}

div {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

p {
	font-family: 'Guardian Sans Web';
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: #005689;
}

.timeline-container {
	position: relative;
	/*max-width: 620px;*/
	margin: 0 auto 25px auto;
	padding: 5px 0 0 0;
}

/*.timeline-container:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	content: '';
	border-top: 4px solid #4dc6dd;
}*/

.header-content {
	padding: 5px 0 20px 0;
}

.headline {
	font-family: 'Guardian Egyptian Web';
	font-size: 24px;
	font-weight: 900;
	line-height: 28px;
	padding: 0 0 10px 0;
	color: #005689;
}

.timeline-content {
	height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
}

.event {
	padding: 0 0 0 0;
}

.content {
	position: relative;
	display: inline-block;
	width: 70%;
	min-height: 70px;
	padding: 15px;
	/*padding: 15px 15px 0 15px;*/

	border-left: 4px solid #4dc6dd;
}

.content:before {
	position: absolute;
	top: 18px;
	left: -9px;
	width: 10px;
	height: 10px;
	content: '';
	border: 2px solid white;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-color: #333;
}

.content img {
	width: 100%;
}

.event .date {
	font-family: 'Guardian Text Sans Web';
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	width: 25%;
	padding: 15px 10px 0 0;
	vertical-align: top;
	text-transform: uppercase;
}

.event .date .year {
	font-weight: bold;
}

.event .headline {
	font-size: 16px;
	line-height: 22px;
	padding: 0 0 0 0;
}

.event .description {
	font-size: 14px;
	line-height: 22px;
}

.source-content {
	font-family: 'Guardian Text Sans Web';
	font-size: 13px;
	line-height: 18px;
	margin: 10px 0 0 0;
	padding: 5px 0 0 0;

	border-top: 1px solid #333;
}

.photo {
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #767676;
	font-size: 13px;
	line-height: 18px;
	overflow: auto;
	padding-bottom: 10px;
}

.timeline-container strong {
	font-weight: bold;
}

</style>

<script>

	const get = require( 'toolkit/ajax/get' );

	component.exports = {
		oninit () {
			const url = this.get( 'url' );

			if ( url ) {
				get( url )
					.then( String )
					.then( JSON.parse )
					.then( data => {
						this.set( 'timelineData', data );
					});
			}
		},

		data: {
			log: function () {
				console.log( arguments );
			}
		}
	};
</script>