<article class='gia-graphic'>
	<div class='gia-graphic-headerborder'></div>
	<h1 class='gia-graphic-title'>{{title}}</h1>

	<div class='gia-graphic-contents'>
		{{yield}}
	</div>

	<div class='gia-graphic-credit'>
		{{>credit}}
	</div>
</article>

<!-- this can be overridden per-project - just include a similar
     block inside the <GuardianGraphic>...</GuardianGraphic> -->
{{#partial credit}}
	<p>Guardian US Interactive</p>
{{/partial}}

<style>
	.gia-graphic-title {
		font-size: 24px;
		font-weight: bold;
		color: #005689;
		width: auto;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 5px;
		line-height: 1;
	}

	.gia-graphic-headerborder {
		border-top: 4px solid #52c6d8;
		width: 70px;
		margin-bottom: 4px;
	}

	.gia-graphic-credit {
		margin: 8px 0 0 0;
		padding: 4px 0 0 0;
		border-top: 1px solid black;
		font-family: 'Guardian Text Sans Web';
		text-transform: uppercase;
		@include clearfix;

		p {
			margin: 0;
			font-size: 12px;
		}

		.left {
			float: left;
		}

		.right {
			float: right;
		}
	}

	.gia-graphic-credit p {
		margin: 0;
	}
</style>

<script>
	component.exports = {
		data: () => ({
			title: 'Untitled graphic'
		})
	};
</script>