<div class='before-after-container' style='padding-bottom: {{padding}}%;'>
	{{#if loading}}

	{{else}}
		<div class='before'>
			<img src='[[before]]'/>
		</div>

		<div class='after'>
			<img src='[[after]]'/>
		</div>
	{{/if}}
</div>

<script>
	const Promise = require( 'toolkit/core/promise' );
	const loadImage = require( 'toolkit/image/loadImage' );

	component.exports = {
		data: () => ({
			loading: true,
			dimensions: [ 1600, 900 ]
		}),

		computed: {
			padding () {
				const [ width, height ] = this.get( 'dimensions' );
				return 100 * ( height / width );
			}
		},

		oninit () {
			Promise.all([
				loadImage( this.get( 'before' ) ),
				loadImage( this.get( 'after' ) )
			]).then( ([ before, after ]) => {
				this.before = before;
				this.after = after;

				if ( ( before.width !== after.width ) || ( before.height !== after.height ) ) {
					throw new Error( `Before and after images must have the same dimensions (${before.width}x${before.height} vs ${after.width}x${after.height})` );
				}

				this.set( 'loading', false );
			});
		}
	};
</script>