<div class='chart'>

	<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">

	<polyline points='{{coords}}' stroke='black' fill='none'/>

		{{ #each lineData }}
			<circle cx='{{ xScale( x ) }}' cy='{{ yScale( y ) }}' r='5'/> 
		{{ /each }}		

	</svg>

</div>

<style>

	.chart {
		width: 500px;
		height: 500px;
		background-color: #eee;
	}

</style>

<script>

	const linearScale = require( 'toolkit/maths/linearScale' );

	component.exports = {
		computed: {
			minX () {
				return this.get( 'lineData' ).reduce( ( min, point ) => Math.min( min, point.x ), Infinity );
			},

			maxX () {
				return this.get( 'lineData' ).reduce( ( max, point ) => Math.max( max, point.x ), -Infinity );
			},

			minY () {
				return this.get( 'lineData' ).reduce( ( min, point ) => Math.min( min, point.y ), Infinity );
			},

			maxY () {
				return this.get( 'lineData' ).reduce( ( max, point ) => Math.max( max, point.y ), -Infinity );
			},

			xScale () {
				return linearScale([ this.get( 'minX' ), this.get( 'maxX' ) ], [ 0, 500 ]);
			},

			yScale () {
				return linearScale([ this.get( 'minY' ), this.get( 'maxY' ) ], [ 0, 500 ]);
			},

			coords () {
				const xScale = this.get( 'xScale' );
				const yScale = this.get( 'yScale' );

				return this.get( 'lineData' ).map( point => `${xScale(point.x)},${yScale(point.y)}` ).join( ' ' );
			}
		},
		data: () => ({
			lineData: [
				{ "x":2005, "y":10 },
				{ "x":2006, "y":11 },
				{ "x":2007, "y":62 },
				{ "x":2008, "y":86 },
				{ "x":2009, "y":10 },
				{ "x":2010, "y":45 },
				{ "x":2011, "y":65 },
				{ "x":2012, "y":45 },
				{ "x":2013, "y":50 },
				{ "x":2014, "y":12 },
				{ "x":2015, "y":23 }
			]
		})
	};

</script>