<div class='map-container'>

	<div class='gia-key'>
		<div class='keys'>
			<div class='sub-keys'><div class='gia-box key-one'></div> key one</div>
			<div class='sub-keys'><div class='gia-box key-two'></div> key two</div>
		</div>

	</div>
	<div class='map-container'>
		<svg viewBox="0 0 950 620">
			{{#each geometry}}
				<path
				id='{{abbrev}}'
				class='gia-state state-{{abbrev}}'
				d='{{path}}'
				/>
			{{/each}}
		</svg>
	</div>
</div>

<style>
	.map-container {
		/* control map aspect ratio */
		position: relative;
		width: 100%;
		height: 0;
		padding: 0 0 65.26% 0;
	}
	svg {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	path {
		fill: #eee;
	}
	.gia-state{
		fill: #e2e2e2;
		stroke: #fff;
		stroke-width: 3;
	}
	.gia-key{
		font-family: 'Guardian Text Sans Web',Arial,Helvetica,sans-serif;
	  	font-size: 14px;
	  	margin: 0 0 12px 0;
	  	width:100%;
	}
	.gia-box {
		display: inline-block;
		width:10px;
		height: 10px;
		border-radius: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
	}
	.sub-keys{
		display: inline-block;
		margin-right: 10px;
	}
	.key-one{
		background-color: #e2e2e2;
	}
	.key-two{
		background-color: #e2e2e2;
	}
</style>

<script>
	const geometry = require( './geometry' ),
		  lookup = {};


	component.exports = {
		data: () => ({
			geometry
		})

	};
</script>