<div class='wrapper'>
	<!-- <div class='bar-chart-container'> -->
		<svg class='outer'>
			<svg class='plot' x='{{padding[3]}}' y='{{padding[0]}}' width='{{plotWidth}}' height='{{plotHeight}}'>
				{{#each points :i}}
					<g transform='translate({{xScale(i)}},0)'>
						<rect
							x='5'
							y='{{plotHeight - yScale(value)}}'
							width='{{barWidth-10}}'
							height='{{yScale(value)}}'
							fill='#52c6d8'
						/>

						<text class='label' x='{{barWidth/2}}' y='{{plotHeight + 20}}'>{{label}}</text>
						<text class='value' x='{{barWidth/2}}' y='{{plotHeight + 30 - yScale(value)}}'>{{value}}</text>
					</g>
				{{/each}}
			</svg>

		</svg>
	<!-- </div> -->
</div>

<style>
	.wrapper {
		position: relative;
		width: 100%;
		height: 0;
		padding: 0 0 50% 0; /* TODO make aspect ratio configurable? */
		font-family: 'Guardian Text Sans Web';
	}

	svg {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.plot {
		overflow: visible;
	}

	text {
		fill: white;
		text-anchor: middle;
	}

	.label {
		fill: #333;
	}
</style>

<script>
	const linearScale = require( 'toolkit/maths/linearScale' );

	component.exports = {
		data: () => ({
			containerWidth: 100,
			containerHeight: 100,
			padding: [ 2, 2, 30, 2 ]
		}),

		computed: {
			plotWidth: '${containerWidth} - (${padding}[1] + ${padding[3]})',
			plotHeight: '${containerHeight} - (${padding}[0] + ${padding[2]})',

			xScale () {
				return linearScale([ 0, this.get( 'points' ).length ], [ 0, this.get( 'plotWidth' ) ]);
			},

			yScale () {
				return linearScale([ 0, this.get( 'max' ) ], [ 0, this.get( 'plotHeight' ) ]);
			},

			barWidth () {
				return this.get( 'xScale' )( 1 );
			},

			max () {
				return this.get( 'points' )
					.reduce( ( max, point ) => Math.max( max, point.value ), -Infinity );
			},

			min () {
				return this.get( 'points' )
					.reduce( ( min, point ) => Math.min( min, point.value ), Infinity );
			}
		},

		onrender () {
			this.container = this.find( '.wrapper' );

			const resize = () => this.resize();

			this.on( 'unrender', () => window.removeEventListener( 'resize', resize, false ) );
			window.addEventListener( 'resize', resize, false );

			this.resize();
		},

		resize () {
			this.set({
				containerWidth: this.container.offsetWidth,
				containerHeight: this.container.offsetHeight
			});
		}
	};
</script>