<div class='fullscreen-helper {{active ? "fullscreen-helper-active" : ""}}'>
	{{#if enabled}}
		<button class='fullscreen-helper-toggle' on-tap='toggleFullscreen()'>toggle fullscreen</button>
	{{/if}}

	<div class='fullscreen-helper-content'>
		{{yield}}
	</div>
</div>

<style>
	.fullscreen-helper-active {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 1rem;
		overflow: auto;
		background-color: white;

		/*overflow-y: scroll; /* has to be scroll, not auto */
		/*-webkit-overflow-scrolling: touch;*/
	}

	.fullscreen-helper-toggle {
		position: absolute;
		top: 1rem;
		right: 1rem;
		font-family: 'Guardian Text Sans Web';
		background-color: transparent;
		border: none;
		color: #999;
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
		outline: none;
	}

	.fullscreen-helper-toggle:hover {
		color: #666;
	}

	.fullscreen-helper-toggle:active {
		outline: none;
	}
</style>

<script>
	const fullscreen = require( 'toolkit/dom/fullscreen' );

	const isIos = !fullscreen.enabled

	component.exports = {
		data: () => ({
			enabled: fullscreen.enabled
		}),

		onrender () {
			this.container = this.find( '.fullscreen-helper' );

			const onchange = () => this.set( 'active', fullscreen.element === this.container );

			if ( fullscreen.enabled ) {
			    document.addEventListener( fullscreen.raw.fullscreenchange, onchange, false );
			    this.on( 'unrender', () => document.removeEventListener( fullscreen.raw.fullscreenchange, onchange, false ) );
			}
		},

		toggleFullscreen () {
			if ( fullscreen.enabled ) {
				fullscreen.toggle( this.container );
			}
		},

		events: {
			tap: require( 'ractive-events-tap' )
		}
	};
</script>